<!DOCTYPE HTML>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Backbone Addressbook</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#list">Address Book</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="#list">List</a></li>
              <li><a href="#add">Add</a></li>
              <li><a href="#search">Search</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div><!-- /nav -->

    <div class="container" style="margin-top: 50px">
      <div class="row">
        <div class="span12">

          <div class="cell abPanel"></div>

          <script type="text/template" id="addContactTemplate">
            <h2><%= $.isEmptyObject(contact)? 'Add':'Edit'%> New Contact </h2>
            <form id="addContactForm" class="form-horizontal">
              <div class="control-group">
                <label class="control-label" for="inputName">Name</label>
                <div class="controls">
                  <input type="text" value="<%= !$.isEmptyObject(contact) ? contact.full_name : '' %>" name="username" id="inputName" placeholder="Name"/>
                  <span class='false full_name_error'></span><br />
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                  <input type="email" value="<%= !$.isEmptyObject(contact)?contact.email : '' %>" name="email" id="inputEmail" placeholder="Email"/>
                  <span class='false email_error'></span><br />
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="inputPhone">Phone</label>
                <div class="controls">
                  <input type="text" value="<%= !$.isEmptyObject(contact) ? contact.phone : '' %>" name="phone" id="inputPhone" placeholder="Phone"/>
                  <span class='false phone_error'></span><br />
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="inputAddress">Address</label>
                <div class="controls">
                  <textarea name="address" id="inputAddress" row="10" ><%= !$.isEmptyObject(contact) ? contact.address :'' %></textarea>
                </div>
              </div>

              <input type='hidden' id='id' class='input' value="<%= !$.isEmptyObject(contact) ? contact.id : '' %>"/>

              <div class="control-group">
                <div class="controls">
                  <input type="submit" value='<%= $.isEmptyObject(contact) ? 'Save':'Update'%> Contact Details' class="btn btn-primary">
                </div>
              </div>
              <span class="success"></span>
            </form>
          </script>

          <script type="text/template" id="searchContactTemplate">
            <h2>Search</h2>
            <form id="searchForm" class="form-horizontal">
              <div class="control-group">
                <label class="control-label" for="inName">Name</label>
                <div class="controls">
                  <input type="text" id="inName" placeholder="Name">
                </div>
              </div>
              <input type="submit" class="btn btn-primary" value="Search">
            </form>
            <div id='gridd'></div>
          </script>

          <script type="text/template" id="listContactTemplate">
            <h2>Contact </h2>
            <table id="contactTable" class="table table-striped">
              <thead>
                <tr>
                  <th>Id <a href="#<%= contacts.sort %>" class="sort" data-sort="<%= contacts.sort %>">sort</a></th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Address</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>

                <% if( $.isEmptyObject(contacts) ){ %>
                  <tr><td colspan='5'>No record found</td></tr>
                <% } else {
                  $.each(contacts.contacts,function() {
                %>
                  <tr data-id=<%= this.id %>>
                    <td><%= this.id %></td>
                    <td><%= this.full_name %></td>
                    <td><%= this.email %></td>
                    <td><%= this.phone %></td>
                    <td><%= this.address %></td>
                    <td><a class="edit">Edit</a> | <a class="delete" >Delete</a></td>
                  </tr>
                    <% })
                } %>
              </tbody>
            </table>
          </script>
        </div>
      </div>
    </div>

    <!-- Local development -->
    <!-- <script type="text/javascript" src="assets/js/jquery.js"></script> -->
    <!-- <script type="text/javascript" src="assets/js/modernizr.js"></script> -->
    <!-- <script type="text/javascript" src="assets/js/underscore.js"></script> -->
    <!-- <script type="text/javascript" src="assets/js/backbone.js"></script> -->

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
  </body>
</html>
